.error_container {
  font-size: 3rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.error {
  letter-spacing: 20px;

}

.Disculpa_container {
  text-align: center;
}

.numeros{

  font-size: 4rem;
    
}

.numeros_container{
  display: flex;
font-size: 3rem;
  


}

