
.container_btnIdiomas{
    border-top: 5px solid black;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.btn_lang{
    background-color: rgb(188, 186, 179);
    color: rgb(7, 7, 7);
    border: none;
    padding: 3px;
    width: 80px;
    border-radius: 10px;
    font-size: 0.8rem;
    
}



