
.container_btnIdiomas{
    height: 5vh;
    display: flex;
    justify-content:flex-end;
    margin-inline-end: 10px;
    gap: 10px;
}

.btn_lang{
    background-color: rgba(188, 186, 179, 0.65);
    color: rgb(7, 7, 7);
    border: none;
    padding: 3px;
    width: 80px;
    border-radius: 10px;
    font-size: 0.8rem;
    
}



