.subtitulo_localizacion {
    text-align: center;
    letter-spacing: 12px;
    text-align: center;
}

.localizacion {
    padding: 10px;
    margin-top: 140px;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
}

.container_geolocalizacion {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.imagen-tienda {
    width: 100%;
    height: auto;
}