.card-shooping {
  margin: 0 auto;
    margin-bottom: 40px;
  
  }

  .col-12 { 
 
    border: 1px solid rgb(86, 86, 86);
    box-shadow: 1px 2px 2px 2px rgba(230, 230, 230, 0.525);
    border-radius: 3px;
    margin-bottom: 12px;
  }

  .img-products1{
    height: 200px;
    object-fit: contain;
    border-radius: 28px;
    /*border: 1px solid rgb(117, 100, 223);*/
  }
  

  .pi-shopping-cart {
    font-size: 20px;
  }


  .p-button {
    background: black;
  }
  
  .marca_logo {
    width: 18.5%;
    height: auto;
    margin-top: 10px;
  }