.p-menuitem-icon {
    color: rgb(10, 10, 10);
    font-size: 0.5rem;  
  }
  
  .p-menuitem-text {
    color: rgb(19, 19, 19);
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
  }
  
  .p-submenu { 
    line-height: 20px;
    font-size: 0.8rem;
  }
  
  .p-submenu-header {
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(4, 4, 4);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  