.sobre_nosotrosPresentacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(2, 2, 2);
}

.sobre_nosotrosPresentacion h1 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 8px;
  margin-top: 50px;
  text-align: center;
 
}

.sobre_nosotrosPresentacion span {
  width: 70%;
  font-size: 1.3rem;
  font-weight:200;
  padding: 5px;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  
}



figure {
  margin-bottom: 50px;
  width: 70%;
  margin: 0 auto;
  color: rgb(2, 2, 2);
}

figure img {
  width: 100%;
  margin-top: 60px;

}