body {

  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(252, 251, 251);
  font-family: "Cormorant Garamond", serif;
  
}


 body img{
  animation: fade linear forwards;
  scale: 0;
  opacity: 0%;
  animation-timeline: view() ;
  animation-range-start: entry -70px;
  animation-range-end:exit -80px;
  transform-origin: bottom;
}


@keyframes fade{
  100%{
    scale: 1;
    opacity: 100%;
  }
}

header {
  display: flex;
  align-items: last baseline;
  color: white;
  height: 90vh;
  background-image: url("../public/images/portadita.jpg");
  background-size: cover;
  opacity: 80%;
  font-family: "Cormorant Garamond", serif;
  background-attachment: fixed;

}

.pi {
  font-size: 25px;
  padding: 5px;
}

.social_icons {
  display: flex;
  font-size: 12px;
  justify-content: center;
  gap: 18px;
  background: rgb(9, 9, 9);
  padding: 2px;
}


.pi-instagram,
.pi-telegram,
.pi-facebook,
.pi-youtube {
  font-size: 18px;
}

.logo_tienda {


  height: auto;
  background-color: rgba(248, 253, 251, 0.155);
  filter: drop-shadow(0 0 0.75rem rgb(247, 200, 244));
}



.p-menuitem-icon {
  color: rgb(32, 44, 4);
}


.p-menuitem-text {
  color: rgb(19, 19, 19);
  font-size: 1rem;
  font-weight: bold;

  border-radius: 5px;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;

}

.p-submenu {
  color: rgb(150, 139, 227);
  line-height: 35px;
  font-size: 0.8rem;
}

.p-submenu-header {
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(4, 4, 4);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 29px;

}

.Ofertas {

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f4f4f4;
  color: rgb(83, 82, 82);
  gap: 5px;
}

.Ofertas h1 {
  margin-top: 15px;

}

.pi-hourglass {
  margin-top: 7px;
  margin-left: 5px;
}

.Ofertas-solar {
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #faf7f7;
  color: rgb(41, 40, 40);

}

.solar {
  width: 20%;
}

.card-shooping {
  padding: 20px;
  display: block;
  margin: 0 auto;

  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.img-products {

  height: 200px;
  object-fit: contain;
  border-radius: 28px;
  padding: 3px;
  /*border: 1px solid rgb(117, 100, 223);*/


}

.col-12 {
  border: 1px solid rgb(214, 212, 212);
  margin-top: 20px;
  box-shadow: 1px 2px 2px 2px rgba(239, 226, 228, 0.525);
  margin-bottom: 30px;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: black;
}

.ofertasflash-title {

  background-repeat: no-repeat;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-family: "Reenie Beanie", cursive;
  font-weight: 800;
  font-style: normal;
  text-shadow: #FC0 1px 0 10px;
  filter: blur(1px);


}

.card-oferta {

  background-repeat: no-repeat;
  height: 30vh;
  background-image: url("https://img.freepik.com/fotos-premium/closeup-hermosos-labios-sexy-labios-regordetes-que-lapiz-labial-rojo_168410-2832.jpg?w=900");
  display: flex;

  align-items: center;
  justify-content: center;
  background-image: cover;
}

.ofertas-subtitle {
  font-size: 1.9rem;
}




.img-products1 {

  height: 200px;
  object-fit: cover;
  padding: 3px;
  border-radius: 28px;



  /*border: 1px solid rgb(117, 100, 223);*/


}

.pi-shopping-cart {
  font-size: 20px;
}

.p-button {
  background: black;
}

.marca_logo {
  width: 10%;
  height: auto;
  margin-top: -10px;

}

.marca_cabecera {


  height: 20vh;
  padding: 20px;
}

.title_producto {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

.tags {
  color: black;
  border: 1px solid black;
  background: white;
  padding: 4px;
}

.parrafo_descripcion {
  line-height: 23px;
}

.container_btncompra {
  margin-bottom: 20px;
}

.logo_tienda1 {
  width: 10%
}


.pedido_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

table {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 1.2rem;

}

td {
  border-bottom: 1px solid black;

}

tr {
  background-color: rgb(243, 241, 240);
}

.producto_celda {
  display: flex;
}

.img_compra {
  height: 50px;
  object-fit: cover;

}




/*background-image:
url("https://img.freepik.com/fotos-premium/melocoton-ruboriza-polvo-fondo-blanco_38705-53.jpg?w=996");*/


.sobre_nosotrosPresentacion h1{
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 20px;
  margin-top: 50px;
 
 
}



.sobre_nosotrosPresentacion span{

 width: 50%;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 10px;
  line-height: 25px;
  letter-spacing: 2px;
  margin-top: 40px;
 
}






.sobre_nosotrosPresentacion{
 
  width: 70%;
  display: flex;

  flex-wrap: wrap;
  margin: 0 auto;
  color: rgb(2, 2, 2);
 
}

.nuestrasMarcas {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
 
 margin: 0 auto;
 

  color: rgb(2, 2, 2);
  margin-bottom: 60px;
 
 

}

.marcas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  padding: 10px;
  padding-left: 10px;
}




.nuestrasMarcas h1 {
  margin-top: 60px;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 20px;
  text-align: center;
  
}

figure{
  margin-bottom: 50px;
  width: 70%;
  margin: 0 auto;
  color: rgb(2, 2, 2);
}

figure img{
  width: 100%;
  margin-top: 60px;
 
}




.marca_logo1 {
  width: 25%;
 
  height: auto;
  border: 2px solid rgb(252, 250, 250);
  font-weight: bolder;

 
  margin-top: 20px;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 0 auto;
  gap: 20px;
 
  filter: drop-shadow(3px 9px 6px rgb(77, 76, 42));
  box-shadow: 2px 3px 2px black;
 

}


.subscripcion{
 
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items:center;
  margin: 0 auto;
}

.container_subscripción{
  width: 42%;
  margin-left: 10px;
}

label{
  font-size: 1.3rem;
}

form{
  display: flex;
  flex-direction: column;
  
}

input{
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.submit_button{
  color: white;
  background: black;
}






.container_info span {
  margin-top: 20px;
  font-size: 1.2rem;

}

.container_total,
.totalIva {
  width: 100%;
  font-size: 1.3rem;
  background: rgb(9, 9, 9);
  color: white;
  margin-bottom: 5px;

}

.iva {

  border-bottom: 1px solid black;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.producto {
  width: 230px;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}

.cantidad input {
  width: 60px;
  padding: 8px;
}

.container_informacion {
  margin-top: 20px;
  padding: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

.container_informacion img {
  width: 100px;

}

.card3 {
  width: 80%;
}

.spanColor {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgba(86, 72, 72, 0.68);
  color: white;
  font-size: 12px;
  margin-left: 10px;
  border: 1px solid black;


}


.informacion_container {
  margin-top: 230px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  justify-content: center;
}

.container_info_footer {
  width: 190px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: black;
  border-radius: 20px;
  border: 2px solid rgb(7, 7, 7);
  box-shadow: 2px 3px 2px black;

}


.container_info_footer span{
 font-size: 1.2rem;
 margin-top: 10px;
}

.container_info_empresa img{
  width: 20%;
}

.footer{
  margin-top: 60px;
 
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: black;
 gap: 10px;


}

.logo_empresa_footer{
  width: 20%;
  padding: 20px;
  background-color: white;;
}
.container_info_empresa{
 
  margin-left: 15px;
  line-height: 30px;

}

.social_icons1{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
}

.logo_empresa_footer{
  width: 20vw;
  border-radius: 10%;
}