body {

  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(252, 251, 251);
  font-family: "Cormorant Garamond", serif;
}

header {
  display: flex;
  align-items: last baseline;
  color: white;
  height: 90vh;
  background-image: url("../public/images/portadita.jpg");
  background-size: cover;
  opacity: 80%;
  font-family: "Cormorant Garamond", serif;

}

.pi {
  font-size: 25px;
  padding: 5px;
}

.social_icons {
  display: flex;
  font-size: 12px;
  justify-content: center;
  gap: 18px;
  background: rgb(9, 9, 9);
  padding: 2px;
}


.pi-instagram,
.pi-telegram,
.pi-facebook,
.pi-youtube {
  font-size: 18px;
}

.logo_tienda {


  height: auto;
  background-color: rgba(248, 253, 251, 0.155);
  filter: drop-shadow(0 0 0.75rem rgb(247, 200, 244));
}



.p-menuitem-icon {
  color: rgb(32, 44, 4);
}


.p-menuitem-text {
  color: rgb(19, 19, 19);
  font-size: 1rem;
  font-weight: bold;
 
  border-radius: 5px;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;

}

.p-submenu {
  color: rgb(150, 139, 227);
  line-height: 35px;
  font-size: 0.8rem;
}

.p-submenu-header {
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(4, 4, 4);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 29px;

}

.Ofertas {

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f4f4f4;
  color: rgb(83, 82, 82);
  gap: 5px;
}

.Ofertas h1 {
  margin-top: 15px;

}

.pi-hourglass {
  margin-top: 7px;
  margin-left: 5px;
}

.Ofertas-solar {
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #faf7f7;
  color: rgb(41, 40, 40);

}

.solar {
  width: 20%;
}

.card-shooping {
  padding: 20px;
  display: block;
  margin: 0 auto;

  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.img-products {

  height: 200px;
  object-fit: contain;
  border-radius: 28px;
  padding: 3px;
  /*border: 1px solid rgb(117, 100, 223);*/


}

.col-12 {
  border: 1px solid rgb(214, 212, 212);
  margin-top: 20px;
  box-shadow: 1px 2px 2px 2px rgba(239, 226, 228, 0.525);
  margin-bottom: 30px;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: black;
}

.ofertasflash-title {

  background-repeat: no-repeat;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-family: "Reenie Beanie", cursive;
  font-weight: 800;
  font-style: normal;
  text-shadow: #FC0 1px 0 10px;
  filter: blur(1px);


}

.card-oferta {

  background-repeat: no-repeat;
  height: 30vh;
  background-image: url("https://img.freepik.com/fotos-premium/closeup-hermosos-labios-sexy-labios-regordetes-que-lapiz-labial-rojo_168410-2832.jpg?w=900");
  display: flex;

  align-items: center;
  justify-content: center;
  background-image: cover;
}

.ofertas-subtitle {
  font-size: 1.9rem;
}




.img-products1 {

  height: 200px;
  object-fit: cover;
  padding: 3px;
  border-radius: 28px;



  /*border: 1px solid rgb(117, 100, 223);*/


}

.pi-shopping-cart {
  font-size: 20px;
}

.p-button {
  background: black;
}

.marca_logo {
  width: 10%;
  height: auto;
  margin-top: -10px;

}

.marca_cabecera {


  height: 20vh;
  padding: 20px;
}

.title_producto {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

.tags {
  color: black;
  border: 1px solid black;
  background: white;
  padding: 4px;
}

.parrafo_descripcion{
  line-height: 23px;
}

.container_btncompra{
 margin-bottom: 20px;
}