.color-selector-button {

  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 7.1px;
  color: white;
  margin-left: 2px;

}

.bg-008 {
  background-color: rgb(169, 7, 61);
}

.bg-100 {
  background: rgb(158, 98, 118);
}

.bg-jardin {
  background-color: #a17467;
}
.bg-329{
 background-color: #c46d69;
}

.bg-mimi{
  background-color: #f5bbb7;
}
.bg-rose{
  background-color: #e77186;
}

.bg-beige{
  background-color: #b4635e;
}
.bg-dioreli{
  background-color: #bd6c6e;
}
.bg-lucky{
 background-color: #e52130;
}
.bg-brown{
  background-color: #9b533d;
}

.color-selectors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}