@media (min-width:320px) {

  .btn_lang {
    margin-bottom: 6px;
    margin-top: 6px
  }

  header {
    display: block;
  }


  .card {
    width: 100%;
  }

  .p-galleria-thumbnail-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin: 0 auto;
    border: 1px solid black;

  }

  .p-galleria-thumbnail-item {
    background-color: black;

  }

  .p-galleria-item {
    width: 100%;
    height: auto;
  }

  .card-shooping {
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 0.3px;
    line-height: 1.2;
    padding: 2px;
  }

  .card-oferta {
    height: 50vh;
  }

  .ofertasflash-title {
    font-size: 2rem;

  }

  .marca_logo {
    width: 25%;
    height: auto;
    margin-top: 10px;
  }

  table {
    width: 98%;
    margin: 0 auto;
    border: 1px solid black;
  }




  .marca_logo1 {
    width: 46%;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
  }


  figure {
    width: 100%;
    color: rgb(2, 2, 2);
  }


  .card3 {
    width: 100%;
  }

  .subscripcion {
    width: 100%;
    flex-wrap: wrap;

  }



  .subscripcion img {
    width: 100%;
    margin: 0 auto;
  }

  .container_subscripción {
    width: 90%;
    margin: 0 auto;
  }

  .form_payment {

    flex-direction: column;


  }

  .form_payment img {
    width: 90%;
  }

  .form_payment h1 {
    width: 100%;

  }

  .form_container {
    width: 100%;
  }

  .container_payment {
    width: 90%;
    justify-content: center;
  }


  .steps_titulo {
    font-size: 1.6rem;
    border: none;
  }


  .steps_informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

  }

  .p-steps ol {
    display: block;
  }

  .carrusel_pedido {
    display: block;

  }

  .custom-carousel {
    width: 100%;
    justify-content: center;

  }

  .parr_container {
    text-align: center;
  }

  .pedido_titulo h1 {
    font-size: 1.4rem;
  }

  .footer{
    display: block;
  }
}

@media (min-width:481px) {}

@media(min-width: 641px) {
  header {
    display: flex;
    align-items: flex-start;
    height: 27svh;
  }

  .logo_tienda {
    width: 35%;
    height: auto;
  }

  .card {
    width: 55%;
  }

  .p-galleria-thumbnail-item img {
    width: 110px;
    height: auto;
    margin-right: 20px;
    margin: 0 auto;
    border: 1px solid black;

  }

  .card-shooping {
    text-align: center;
    width: 80%;
  }

  .card-oferta {
    height: 40vh;
  }

  .ofertasflash-title {
    font-size: 5rem;
  }

  .marca_logo {
    width: 20%;
    height: auto;
    margin-top: 5px;

  }


  .container_subscripción {
    width: 50%;
    flex-wrap: wrap;
    padding: 10px;
  }

  .subscripcion {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .subscripcion img {
    width: 40%;
  }


  .marca_logo1 {
    width: 29%;
    height: auto;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .nuestrasMarcas {
    width: 70%;
    padding: 20px;
  }



  figure {
    width: 70%;
    margin: 0 auto;
    color: rgb(2, 2, 2);
  }

  figure img {
    width: 100%;
    margin-top: 60px;
  }

  .card3 {
    width: 100%;

  }

  .marca_logo1 {
    width: 20%;
  }

  .subscripcion {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  .form_payment {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  .form_payment img {
    width: 44%;
  }

  .form_payment h1 {
    width: 100%;
    margin-left: 20px;
  }


  .form_container {
    width: 100%;
    margin-left: 20px;


  }

  .container_payment {
    width: 40%;
  }




  .p-steps ol {
    display: flex;
  }

  .custom-carousel {
    width: 70%;
    justify-content: center;
  }

  .img-carr-payment {
    width: 25%;
    height: 35vh;
    margin: 0 auto;
  }

  .carrusel_pedido {
    display: flex;
    justify-content: center;
  }

  .footer{
    display: flex;
    justify-content: center;
  }

}

@media(min-width: 1024px) {
  header {
    display: flex;
    align-items: flex-start;
    height: 80vh;

  }

  .logo_tienda {
    width: 20%;
    height: auto;
  }

  

  .marca_logo {
    width: 10%;
    height: auto;
    margin-top: 10px;
  }

  .marca_logo1 {
    width: 25%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;

  }

  .nuestrasMarcas {
    width: 45%;
    padding: 20px;
  }

  

  .card3 {
    width: 100%;
  }


  .form_payment {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }


  .p-steps ol {
    display: flex;
  }

  .custom-carousel {
    width: 50%;
    justify-content: center;
  }

  .carrusel_pedido {
    display: flex;
    justify-content: center;
  }

  .img-carr-payment {
    width: 25%;
    height: 70vh;

  }

  .parr_container {
    text-align: left;
  }
}